{% extends 'Base.html' %}



{% block title %}Товар{% endblock %}


{% block content %}


<div class= "top_shop">


	
	<div class= "product_image"><img src="{{image.image.url}}" data-sizes="auto" alt="om_image" ></div>


	<div class = "right_top">
	
	<h2>{{product.name_product}}</h2>
	<div> <h3>Стоимость: {{product_set.price_product}} руб </h3> </div>
	<div><h3> В наличии: {{product_set.quantity_product}} ед.</h3> </div>
	
	<!-- Custom Button Messages -->
	<div class="form_x">

		<form action = ""  method = "post" >
			{% csrf_token %}
			<table>
			{{cartform}}
			</table>
			<input type="submit" id="submit_btn" value="Add to cart" class="btn_form" >
							В корзину</input>
		</form >
	</div>

	
		</div>
	



</div>







<h2>Описание</h2>
<div> {{image.product.text_product}} </div>








{% endblock %}